body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.menu {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.menu button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #0056b3;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
}

h2 {
  text-align: center;
}

.todo-input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: vertical;
  height: 40px;
}

.add-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
}

.add-btn:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.task-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-header span {
  flex-grow: 1;
  text-align: left;
}

.task-header.completed span {
  text-decoration: line-through;
  color: #6c757d;
}

.subtask-input {
  width: calc(100% - 120px);
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  height: 40px;
}

.add-subtask-btn {
  padding: 5px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
  align-self: flex-start;
}

.add-subtask-btn:hover {
  background-color: #218838;
}

.delete-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}

.subtask-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.subtask-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.subtask-item input[type="checkbox"] {
  margin-right: 10px;
}

.subtask-item.completed label {
  text-decoration: line-through;
  color: #6c757d;
}

.subtask-item label {
  display: flex;
  align-items: center;
  word-break: break-word;
}
